/*@media screen and (min-width:800px){
	body{
		background: yellow;
    } 

}*/


@media screen and (min-width:600x){

    .contenedor{
        background: red;
                
            
}
}

@media screen and (min-width:480px){

    contenedor-texto{
        background: blue;
        font-size: 1px;
        
                  
           
            
}
}